@import "./var.scss";

.App {
  background-color: $backgroundColor;
  text-align: center;

  .App-header {
    
  }
  
  .App-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $textColor;

    .App-background-layer {
      animation: App-background-slide 25s ease 0s infinite forwards;
      position: fixed;
      width: 100%;

      .App-background {
        width: 120%;
      }
    }

    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 40vmin;
      pointer-events: none;
    }
    
    .App-link {
      color: #61dafb;
    }
  }

  .App-footer {

  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-background-slide {
  0% {
    transform: translate(-10%, -10%) scale(1.1);
  }
  25% {
    transform: translate(10%, 10%) scale(1.2);
  }
  50% {
    transform: translate(-10%, 10%) scale(1.0);
  }
  75% {
    transform: translate(10%, -10%) scale(1.25);
  }
  100% {
    transform: translate(-10%, -10%) scale(1.1);
  }
}